<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
        <link rel="stylesheet" href="~/css/style.css"/>
         <title>Dojo Survey</title>
    </head>
    <body style="border: 1px solid grey; padding: 10px;">
        <center>
        <h1>Submitted Info</h1>
        <p>Your Name: @ViewBag.name</p>
        <p>Dojo Location: @ViewBag.location </p>
        <p>Favorite Language: @ViewBag.language</p>
        <p>Comment (optional): @ViewBag.comment</p>

        </center>
    </body>
</html>